/* @tailwind base;
@tailwind components;
@tailwind utilities; */

img {
  height: 100%;
  width: 100%;
}

.imgBox {
  overflow: hidden;
  height: 160px;
  border-radius: 7px 7px 0px 0px;
}

.imgBox img {
  object-fit: cover;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 80px 0px 0px 0px;
  min-height: 100vh;
}

/*animation*/
.loading {
  display: flex;
  justify-self: center;
  border: 10px solid #add8e6;
  border-top: 10px solid #26424a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  animation: spinner 5s linear infinite;
  margin: 50px 20px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* button style */
.btnStyle {
  padding: 6px 30px;
  background-color: rgb(66, 219, 66);
  border-radius: 10px;
  align-self: center;
}

/* Homepage */

.venueSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1350px;
}

.venueSection a {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border: 2px solid black; */
}

.highlight {
  background-color: yellow; /* Customize the styling as desired */
}

.highlightBooking {
  background-color: rgb(94, 17, 217); /* Customize the styling as desired */
}

/* Login & Registration page */

.registrationForm,
.loginForm {
  display: flex;
  align-self: center;
}

.registrationForm form,
.loginForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registrationFormContainer div,
.loginFormContainer div {
  display: flex;
  flex-direction: column;
}

.registrationFormContainer input,
.loginFormContainer input {
  border: 1px solid rgb(126, 125, 125);
  border-radius: 5px;
  background-color: rgb(237, 237, 237);
}
